<nav class="nav navbar-dark bg-dark nav-justified">
  <a class="nav-item nav-link" href="#">CBF</a>
</nav>

<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col-lg-4 mt-3 mb-3" *ngFor="let item of matchList">
      <ng-container [ngTemplateOutlet]="matchTemplate"
                    [ngTemplateOutletContext]="{item: item}"></ng-container>
    </div>
  </div>
</div>

<app-footer></app-footer>

<ng-template #matchTemplate let-item="item">
  <div class="card" [ngClass]="{
  'notStarted': isStatus(item?.status, status.NOT_STARTED),
   'started': isStatus(item?.status, status.STARTED),
    'break': isStatus(item?.status, status.BREAK),
    'finished': isStatus(item?.status, status.FINISHED)}">
    <div class="card-header">
      <h5 class="card-title">{{getStatus(item?.status)}}</h5>
      <ng-container [ngTemplateOutlet]="matchCardHeaderTemplate"
                    [ngTemplateOutletContext]="{item: item}"></ng-container>
    </div>
    <div class="card-body">
      <ng-container [ngTemplateOutlet]="matchCardBodyTemplate"
                    [ngTemplateOutletContext]="{item: item}"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #matchCardHeaderTemplate let-item="item">
  <div class="row w-100">
    <div class="col-lg-6">
      <label>{{item?.date ? item?.date : '0000-00-00' | date : 'pt-BR'}}</label>
    </div>
    <div class="col-lg-6">
      <label>{{item?.country ? item?.country : 'uninformed'  | uppercase}}</label>
    </div>
  </div>
</ng-template>

<ng-template #matchCardBodyTemplate let-item="item">
  <div class="row">
    <div class="col-lg-6">
      <label>{{item?.teamOne?.name}}</label><br>
      <label>{{item?.teamOneScore}}</label>
    </div>
    <div class="col-lg-6">
      <label>{{item?.teamTwo?.name}}</label><br>
      <label>{{item?.teamTwoScore}}</label>
    </div>
  </div>
</ng-template>

